@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  /* bazowa jednostka 1rem = 16px */
  --section-padding: clamp(2rem, 5dvh, 6rem);
  --title-size: clamp(1.8rem, 2.5vw + 1rem, 2.3rem);
  --text-size: clamp(0.7rem, 0.5vw + 0.8rem, 1.2rem);
}

.Container {
  position: relative;
  width: 100%;
  margin-bottom: var(--section-padding);
  display: flex;
  justify-content: center;
  scroll-margin-top: 10dvh;
  z-index: 6;
}

.AboutSection {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.SectionTitle {
  font-size: var(--title-size);
  font-weight: 600;
  color: #8a3c4c;
  margin-bottom: 0.5rem;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

.SectionText {
  font-size: var(--text-size);
  color: #ececec;
  line-height: 1.6;
}

.Line {
  width: 100%;
  height: 2px;
  border-color: #8a3c4c;
  background-color: #8a3c4c;
  margin-bottom: 2rem;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

/* RESPONSYWNOŚĆ */
@media (max-width: 1500px) {
  .Container {
    scroll-margin-top: 14dvh;
    margin-top: 5dvh;
  }

  .AboutSection {
    width: 55%;
  }
}

@media (max-width: 1000px) {
  .Container {
    scroll-margin-top: 17dvh;
    margin-top: 8dvh;
  }

  .AboutSection {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .AboutSection {
    width: 85%;
  }
}
