.ExperienceContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: clamp(1.5rem, 1rem + 1vw, 2.5rem);
  height: auto;
  margin-left: 1vw;
}

/* pionowa linia */
.VerticalLine {
  height: 100%;
  border-right: 2px solid #8a3c4c;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

/* kropki (timeline) */
.Circle {
  position: absolute;
  margin-left: -17.5px;
  width: clamp(1.5rem, 0.8rem + 0.6vw, 2rem);
  height: clamp(1.5rem, 0.8rem + 0.6vw, 2rem);
  margin-left: calc(clamp(1.5rem, 0.8rem + 0.6vw, 2rem) / -2);
  border-radius: 50%;
  background-color: #8a3c4c;
}

/* sekcja tekstowa */
.ExperienceInfo {
  display: flex;
  flex-direction: column;
  gap: clamp(0.4rem, 0.3rem + 0.3vw, 1rem);
}

/* daty */
.Years {
  margin: 0;
  color: #cecece;
  font-size: clamp(1rem, 0.8rem + 0.3vw, 1.3rem);
  font-weight: 500;
}

/* stanowisko + firma */
.PositionCompany {
  margin: 0;
  color: #b65b6e;
  font-weight: 600;
  font-size: clamp(1.3rem, 1rem + 0.8vw, 2rem);
}

/* opis */
.Description {
  margin: 0;
  color: #cecece;
  font-size: clamp(0.9rem, 0.8rem + 0.3vw, 1.2rem);
  line-height: 1.5;
  margin-bottom: clamp(1.5rem, 0.8rem + 1vw, 3rem);
}

.Position {
  font-size: clamp(1.3rem, 1rem + 0.8vw, 1.7rem);
  padding: 0;
  margin: 0;
  color: #8a3c4c;
  font-weight: 600;
}
